
*.vcxproj.filters merge=union

# These files are text and should be normalized (Convert crlf => lf)
*.gitattributes text
.gitignore      text
*.md            text diff=markdown

# Sources
*.c     text diff=cpp eol=lf
*.cc    text diff=cpp eol=lf
*.cxx   text diff=cpp eol=lf
*.cpp   text diff=cpp eol=lf
*.cpi   text diff=cpp eol=lf
*.c++   text diff=cpp eol=lf
*.hpp   text diff=cpp eol=lf
*.h     text diff=cpp eol=lf
*.h++   text diff=cpp eol=lf
*.hh    text diff=cpp eol=lf
